*:focus {
  border: none;
}

body {
  display: flex;
  flex-direction: column;
}

#header {
  background: lightblue;
  padding: 22px 0;
}
#header .gnb ul {
  background: #fff;
  display: flex;
  gap: 30px;
  align-items: center;
}
#header .gnb ul:first-child {
  float: left;
}
#header .gnb ul:first-child li {
  float: left;
}
#header .gnb ul:first-child li:first-child a {
  display: block;
}
#header .gnb ul:first-child li:first-child a img {
  height: 40px;
}
#header .gnb ul:first-child li:last-child {
  position: relative;
}
#header .gnb ul:first-child li:last-child input {
  padding-left: 15px;
  width: 400px;
  height: 40px;
  border-radius: 30px;
  border: 2px solid #21BF48;
}
#header .gnb ul:first-child li:last-child button {
  position: absolute;
  top: 50%;
  right: 15px;
  width: 25px;
  height: 25px;
  background: center/contain no-repeat url(../asset/search.svg);
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
}
#header .gnb ul:last-child {
  float: right;
}
#header .gnb ul:last-child li {
  float: left;
}

#main {
  background: lightyellow;
}

#footer {
  background: lightgreen;
}

.wrapper {
  background: pink;
  max-width: 1280px;
  margin: 0px auto;
}