#header {
  // background:lightblue;
  padding: 22px 0;
  .gnb {
    display: flex;
    justify-content: space-between;
      ul {
          &:first-child {
            display: flex;
            gap: 30px;
            align-items: center;
            &:first-child {
              float:left;
              li {
                float: left;
                &:first-child a {
                  display: block;
                  img {
                    height: 40px;
                  }
                }
                &:last-child {
                  position: relative;
                  input {
                    padding-left: 15px;
                    width: 400px;
                    height: 40px;
                    border-radius: 30px;
                    border: 2px solid #21BF48;
                  }
                  button {
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    width: 25px;
                    height: 25px;
                    background: center/contain no-repeat url(../asset/search.svg);
                    transform: translateY(-50%);
                    border: none;
                    cursor: pointer;
                  } 
                }
              }
            }
            &:last-child {
              float:right;
              li {
                float: left;
              }
            }
          }
          &:last-child {
            display: flex;
            gap: 26px;
            li {
              width: 60px;
              height: 46px;
              a {
                display: block;
                text-align: center;
                span {
                  display: block;
                  font:0.8rem/1 "arial"
                }
              }
            }
          }

        }

  }
}